.item img {
  height: 400px;
  width: 100%;
}

.item h1 {
  color: white;
}

.section {
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.section a {
    text-decoration: none;
    display: block;
    font-size: 15px; 
    margin: 0px;
    color: black;
    padding: 13px;
    font-weight: bold;
}

.section a:hover {
  color: red;
}

.latestpost a{
  color: red;
}

.latestpost a:hover{
  color: black;
}

@media all and (max-width: 600px) {
  .section {
    flex-direction: column;
    padding: 0;
    height: 147px;
  }
  .section li{
    text-align: center; 
    padding: 3px;
    color: black;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}

.flex-container img {
  width: 250px;
  height: 250px;
  margin: 10px;
  line-height: 150px;
  border: 2px solid black;
}

.flex-container img:hover {
  opacity: 0.5;
}


