body{
    background-color: #DCDCDC;
}

.allpages{
    width: 70%;
    margin: auto;
}

.mainH {
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    
}

.mainH li {
    font-size: 15px; 
    margin: 0px;
    color: white;
    padding: 13px;
    font-weight: bold;
}

@media all and (max-width: 700px) {
  .mainH {
    flex-direction: column;
    padding: 0;
    height: 54px;
  }
  .mainH li{
    text-align: center; 
    padding: 5px;
  }
}

.photo{
    height: 80px;
    background-color: white;
    display: flex;
    }

.photo img{
    height: 60px;
    margin: auto;
 
}

.navigation {
  list-style: none;
  margin: 0; 
  background: black;
  display: flex;
  justify-content: space-around;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 16px 40px;
  color: white;
}

.navigation a:hover {
  background: #696969;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: center;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-direction: column;
    padding: 0;
  }
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
}

.fon {
  height: 400px;
  width: 100%;
  background-image: url(photo/fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section{
  background-color: white;
  height: auto;

}

.section {
    height: 40px;
    display: flex;
    justify-content: center;
    
}

.section a {
    text-decoration: none;
    display: block;
    font-size: 15px; 
    margin: 0px;
    color: black;
    padding: 13px;
    font-weight: bold;
}

.section a:hover {
    color: red;
}

.latestpost a{
  /*margin-right: 60px;*/
  color: red;
}

.latestpost a:hover{
  color: black;
}

@media all and (max-width: 600px) {
  .section {
    flex-direction: column;
    padding: 0;
    height: 147px;
  }
  .section li{
    text-align: center; 
    padding: 3px;
    color: black;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
}

article{
  background-color: white;
  height: auto;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-around;
  display: flex;
  flex-flow: row wrap;
}

.flex-container img {
  width: 200px;
  height: 200px;
  margin: 10px;
  line-height: 150px;
  border: 2px solid black;
}
