section h1{
    margin-left: 100px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 0;
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.textinfo {
  padding-top: 10px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.textinfo img {
  height: 250px;
  margin-top: 10px;
  border: 2px solid black;
}

.usa{
  font-size: 20px;
  font-weight: bold;
  background-color: #D3D3D3;
  color: black;
  width: 562px;
  margin: auto;
  margin-top: 5px;
}

.text {
  margin: auto 90px;
  padding: 20px;
  padding-bottom: 30px;
  text-align: justify;
}

.text ul {
  list-style-type: square;
}

.text li {
  padding: 4px;

}

@media all and (max-width: 1120px) {
  .textinfo {
     flex-direction: column;
     text-align: center;
   }
  .textinfo li img{
    height: 200px;
    margin: auto;
   } 
   section h1 {
     text-align: center;
     padding-top: 15px;
     margin: 0;
   }
   .usa {
     width: 449px;
   }
   .text {
      margin: auto 40px;
    }
     
}

@media all and (max-width: 750px) {
  .texteinfo {
     flex-direction: column;
     text-align: center;
   }
  .textinfo li img{
    height: 150px;
    margin: auto;
   } 
   .usa {
     width: 335px;
   }
}
